<div class="container-fluid container-fluid-custom">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold fs-2">
        Notes       <t></t>
        
      </a>
<t></t>
      <form class="nav col-12 col-md-auto flex-fill  justify-content-center mb-md-0 " role="search" method="POST" action="/dashboard/search">
        <input type="search" name="searchTerm" class="form-control border-primary" placeholder="Search..." aria-label="Search">
      </form>

      <div class="col-md-3 text-end">
        <a href="/logout" type="button" class="btn btn-outline-primary">Log Out</a>
        
      </div>
    </header>
</div>