<div class="container-fluid container-fluid-custom">
    <h1 > <div class="pb-10">Frequently Asked Questions ( FAQ's )</div> </h1>
    <br>
    <p>
        <div class="fw-bold">Q: What is Notes?</div><br>
        A: Notes is a notes app that allows you to store, organize, and access your notes from anywhere. With Notes, you can create as many notes as you want, add tags, and collaborate with others.
    <br><br>
        
        <div class="fw-bold">Q: Is Notes free to use?<br></div>
        A: Yes, Notes is completely free to use.
        <br><br>
        <div class="fw-bold">Q: Is my information safe on Notes?<br></div>
        A: Yes, Notes takes security seriously. All your notes are encrypted and stored securely in your account, and you can set up two-factor authentication for added security.
        <br><br>
        <div class="fw-bold">Q: Can I access my notes from multiple devices?<br></div>
        A: Yes, you can access your notes from any device with an internet connection, as long as you sign in to your account.
        <br><br>
        <div class="fw-bold">Q: How do I add tags to my notes<br></div>
        A: To add a tag to a note, simply type a "#" followed by the tag name in the note's title or content. For example, "#work" or "#personal".
        <br><br>
        <div class="fw-bold">Q: Can I collaborate with others on my notes?<br></div>
        A: Yes, Notes allows you to invite others to view or edit your notes, making it easy to work on projects or share ideas with colleagues or classmates.
        <br><br>
        <div class="fw-bold">Q: Can I export my notes from Notes?<br></div>
        A: Yes, Notes allows you to export your notes as a JSON file, which can be imported into other note-taking apps or services.
        <br><br>
        <div class="fw-bold">Q: What platforms does Notes support?<br></div>
        A: Notes is a web-based app that can be accessed from any device with an internet connection and a web browser.
        <br><br>
        <div class="fw-bold">Q: Can I customize the look and feel of Notes?<br></div>
        A: Not at the moment, but we're always working to improve and add new features to Notes, so stay tuned for updates.
    </p>
</div>