<div class="container-fluid container-fluid-custom">
    <h1 > Features</h1><br>
    <p>
        <ul>
            <li><strong class="fw-bold">Easy note creation:</strong> With your notes app, users can quickly create new notes, either by typing or using voice commands. Notes can also be easily saved and accessed on multiple devices.</li><br>
            <li><strong class="fw-bold">Flexible organization:</strong> Notes allows users to create tags, folders, or categories for their notes, making it easy to keep everything organized and find what they need quickly.</li><br>
            <li><strong class="fw-bold">Rich formatting:</strong> Notes supports rich text formatting, including bold, italic, underline, and bullet points, allowing users to create notes that are both functional and aesthetically pleasing.</li><br>
            <li><strong class="fw-bold">Collaborative editing:</strong> Notes allows multiple users to collaborate on a note, making it perfect for team projects, study groups, or just sharing ideas with friends and family.</li><br>
            <li><strong class="fw-bold">Automatic backup and sync:</strong> Notes automatically backs up and syncs users' notes across all their devices, ensuring that they never lose their important information.</li><br>
            <li><strong class="fw-bold">Powerful search:</strong> Notes offers a powerful search function that allows users to search their notes by keywords, tags, or categories, making it easy to find what they need quickly.</li><br>
           
            <li><strong class="fw-bold">Reminders and notifications:</strong> Notes offers reminders and notifications to help users stay on track and remember important tasks or deadlines.</li><br>
            <li><strong class="fw-bold">Secure storage:</strong> Notes uses strong encryption to protect users' notes and personal information, ensuring that their data is always secure and private.</li><br>
            <li><strong class="fw-bold">Third-party integrations:</strong> Notes can integrate with other productivity apps, such as calendars, to-do lists, and project management tools, making it easy to manage everything in one place.</li><br>
          </ul>
          
          
          
          
          
          
          
    </p>
</div>